<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangwookim.repository.UserMapper">

    <select id="getId" resultType="String">
        select id from user_table where id = #{id}
    </select>

    <insert id="insert">
        insert into user_table (id, password, name, user_id)
        values(#{id}, #{password}, #{name}, #{user_id})
    </insert>

    <select id="getUser" resultType="com.sangwookim.domain.User">
        select id, password, name from user_table where id= #{id}
    </select>

    <update id="update">
        update user_table
        set password=#{password}
        where id = #{id}
    </update>

    <update id="keepLogin">
        update user_table
        set remember_id = #{remember_id}
        where id = #{id}
    </update>

    <select id="getUserByRememberMe" resultType="com.sangwookim.domain.User">
        select id, password from user_table where remember_id = #{remember_id}
    </select>


</mapper>